<!-- Data type -->
int
str 
float
bool
dict
set
tuple
list

In [1]:
# string data type
str_var = "This is text"

print(type(str_var))
print(str_var)

<class 'str'>

In [2]:
# string data type
str_var = "This is text"

print(type(str_var))
print(str_var)

<class 'int'>
12

In [3]:
# list data type
list_var = [12 , "text" , True , [ 12,2 ,3] , 12.4]

print(type(list_var))
print(list_var)

<class 'list'>
[12, 'text', True, [12, 2, 3], 12.4]

In [4]:
# dict data type

dict_var = {
    "one" : 1,
    "two " : 2,
    "skills" : ["python", "html"]
}

print(type(dict_var))
print(dict_var)

<class 'dict'>
{'one': 1, 'two ': 2, 'skills': ['python', 'html']}

In [6]:
# bool data type
bool_var = 50 > 60
print(type(bool_var))
print(bool_var)

<class 'bool'>
False

In [7]:
# tuple data type 
tuple_var = (12,24,5)
print(type(tuple_var))
print(tuple_var)

<class 'tuple'>
(12, 24, 5)

In [13]:
# set data type
set_var = { "apple" , "banana" ,12}
print(type(set_var))
print(set_var)

<class 'set'>
{'banana', 12, 'apple'}

In [14]:
# float data type
float_Var = 12.5
print(type(float_Var))
print(float_Var)

<class 'float'>
12.5

In [ ]:
# Convert data type

In [16]:
# convert string to  int
x  = "223"
y = int(x)
print(type(y))
print(y)

<class 'int'>
223

In [22]:
# convert list to dict
x = [["one", 1] , ["two" , 2] , ["three" , 3 ] ]

y = dict(x)
print(type(y))
print(y)

<class 'dict'>
{'one': 1, 'two': 2, 'three': 3}

In [23]:
# int to str

x =12 
y = str(x)
print(type(y))
print(y)

<class 'str'>
12

In [25]:
# bool >> int
x = False
y = int(x)

print(y)
print(type(y))

0
<class 'int'>

In [30]:
# int ==> bool
x = -123
y = bool(x)

print(y)
print(type(y))

True
<class 'bool'>

In [56]:
# string methods

txt = "this is text text text "
print(txt[8 : ])
print(txt.upper())
print(txt.lower())

print(txt.split())
print(txt.replace("is" ,"are"))

print(txt.count("x"))
print(txt.capitalize())


# list  ==> str
l = ["this" , "is" , "text"]

print("-".join(l))

txt = "      this is text       "

print(txt.strip())

text text text
THIS IS TEXT TEXT TEXT
this is text text text
['this', 'is', 'text', 'text', 'text']
thare are text text text
3
This is text text text
this-is-text
this is text

In [61]:
# methods return ture false- isdigit -islower - isupper
x = "This is text"

print(x.islower())

False

In [67]:
#  three double quotes
x = """"this line one
this line two
this line three  """

y = "this is \n  \"ahmed\" "

print(y)

this is
  "ahmed"

In [69]:
# String Format
x =  "Ahmed"
y = 21

print(f"name {x}, age {y}")

name Ahmed, age 21

In [91]:
# list methods
list_var  = "programming in python is fun"


for element in list_var :
    print(f'this element {element}')

# print(num_list)
# element=  "1"

this element p
this element r
this element o
this element g
this element r
this element a
this element m
this element m
this element i
this element n
this element g
this element
this element i
this element n
this element
this element p
this element y
this element t
this element h
this element o
this element n
this element
this element i
this element s
this element
this element f
this element u
this element n

In [ ]:
# Task
text = "programming in python is fun"

c = {"p" : 2 , "r": 2 , }